<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @city.name %>
</p>

<h2>Schools</h2>
<% for school in @city.schools %>
    <ul>
      <li><%= school.name %></li>
  </ul>
<% end %>

<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Add School', city_schools_path(@city) %>
<%= link_to 'Back', cities_path %>
